*{
    padding: 0;
    margin: 0;
}

body{
    background-color white;
    font-family: Arial, Helvetica, sans-serif;
}

section#top{
    background-image: url(https://lorempixel.com/1920/400/);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 300px;
}

.center{
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

h1{
    position: absolute;
    margin-top: 240px;
    right: 0;
    font-style:italic;
    color: #444444;
}

nav{
    background-color: #333333;
    height: 50px;
}

nav ul{
    list-style:none;
}

nav ul li{
    display: inline-block;
    background-color: #333333;
    transition:0.3s ease;
}

nav ul li:hover,nav ul li.active{
    background-color: #666666;
}

nav ul li a{
    display: block;
    line-height: 50px;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding: 0 20px;
    transition:0.3s ease;
}

nav ul li:hover a,nav ul li.active a{
    color:red;
}

#content{
    display: inline-block;
    width: 60%;
    margin-top: 50px;
 
}

aside{
    margin-top: 60px;
    width: 35%;
    display: inline-block;
    margin-left:4%;
    vertical-align: top;
}

footer{
    margin-top: 50px;
    background: #333333;
    color:white;
    height: 80px;
    padding-top: 20px
}

h2, h4{
    margin-bottom: 30px;
}

iframe{
    margin-top:50px;
}